/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */

@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */

.login-form input[type="button"] {
    height: 30px;
    width: 100px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: slategrey;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.login-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}


@media only screen and (min-width: 150px) and (max-width: 530px) {

    .login-button {
        margin-bottom: 10px;
    }
}